{{- $taxonomyLabels := dict "categories" "Kategorie" "cuisines" "Küche" "proteins" "Protein" "diets" "Ernährung" "methods" "Methode" "carbs" "Kohlenhydrate" -}}
{{- $taxonomies := slice "categories" "cuisines" "proteins" "diets" "methods" "carbs" -}}
{{- $hasTaxonomies := false -}}
{{- range $taxonomies -}}
  {{- if index $.Params . -}}
    {{- $hasTaxonomies = true -}}
  {{- end -}}
{{- end -}}

{{- if $hasTaxonomies -}}
<div class="recipe-taxonomies">
  {{- range $taxonomy := $taxonomies -}}
    {{- $terms := index $.Params $taxonomy -}}
    {{- if $terms -}}
    <div class="recipe-taxonomy-group">
      <span class="recipe-taxonomy-label">{{ index $taxonomyLabels $taxonomy }}</span>
      <div class="recipe-taxonomy-values">
        {{- range $term := $terms -}}
        <a href="{{ printf "/%s/%s/" $taxonomy ($term | urlize) }}" class="recipe-taxonomy-tag">{{ $term }}</a>
        {{- end -}}
      </div>
    </div>
    {{- end -}}
  {{- end -}}
</div>
{{- end -}}

<div class="recipe-info-wrapper">
{{- if or .Params.prepTime .Params.cookTime -}}
<div class="recipe-info-box">
  {{- with .Params.prepTime }}
  <div class="recipe-info-item">
    <span class="recipe-info-label">Vorbereitung</span>
    <span class="recipe-info-value">{{ . }} min</span>
  </div>
  {{- end }}
  {{- with .Params.cookTime }}
  <div class="recipe-info-item">
    <span class="recipe-info-label">Kochzeit</span>
    <span class="recipe-info-value">{{ . }} min</span>
  </div>
  {{- end }}
  {{- if and .Params.prepTime .Params.cookTime }}
  <div class="recipe-info-item recipe-info-total">
    <span class="recipe-info-label">Gesamt</span>
    <span class="recipe-info-value">{{ add .Params.prepTime .Params.cookTime }} min</span>
  </div>
  {{- end }}
</div>
{{- end -}}
<div class="recipe-info-box recipe-price-box" style="display: none;">
  <div class="recipe-info-item">
    <span class="recipe-info-label">Ca. Kosten</span>
    <span class="recipe-info-value recipe-total-price">--</span>
  </div>
</div>
</div>
