{{- $ref := .Get "ref" -}}
{{- $amount := .Get "amount" | default 0 -}}
{{- $constant := .Get "constant" | default 0 -}}
{{- $default := .Get "default" | default "false" -}}

{{- /* Look up ingredient from global data */ -}}
{{- $ingredient := index site.Data.ingredients $ref -}}

{{- /* Get values from global data, with fallbacks */ -}}
{{- $unit := "" -}}
{{- $name := $ref -}}
{{- $plural := $ref -}}
{{- $posthof := "" -}}
{{- $price := "" -}}
{{- $altUnits := "" -}}

{{- with $ingredient -}}
  {{- $unit = .unit | default "" -}}
  {{- $name = .name | default $ref -}}
  {{- $plural = .plural | default $name -}}
  {{- $posthof = .posthof | default "" -}}
  {{- $price = .price | default "" -}}
  {{- $altUnits = .altUnits | default "" -}}
{{- end -}}

<option
  data-amount="{{ $amount }}"
  data-constant="{{ $constant }}"
  data-unit="{{ $unit }}"
  data-name="{{ $name }}"
  data-plural="{{ $plural }}"
  {{ if $posthof }}data-posthof="{{ $posthof | jsonify }}"{{ end }}
  {{ if $price }}data-price="{{ $price }}"{{ end }}
  {{ if $altUnits }}data-alt-units="{{ $altUnits | jsonify }}"{{ end }}
  {{ if eq $default "true" }}selected{{ end }}>
  {{- $name -}}
</option>
